@{
}

@model IEnumerable<string>

    <div class="d-grid gap-2">
        <a asp-controller="Home" asp-action="Index" asp-route-categoryType="" asp-route-pageNum="1" class="btn  btn-outline-secondary">Home</a>

        @foreach (string b in Model)
        {
            <a asp-controller="Home" asp-action="Index" asp-route-categoryType="@b" asp-route-pageNum="1"
               class="btn @(ViewBag.SelectedType == b ? "btn-primary" : "btn-outline-secondary")">@b</a>
        }
    </div>